<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recetas para Pacientes</title>
</head>
<body>
    <h1>Tus Recetas</h1>
    <ul>
        {% for recipe in recipes %}
        <li>
            <strong>Nombre y Apellido:</strong> {{ recipe['nombre_apellido'] }} <br>
            <strong>DNI:</strong> {{ recipe['dni'] }} <br>
            <strong>Justificación Clínica:</strong> {{ recipe['justificacion_clinica'] }} <br>
            <strong>Droga:</strong> {{ recipe['nombre_generico'] }} ({{ recipe['nombre_comercial'] }}) <br>
            <strong>Presentación:</strong> {{ recipe['presentacion'] }} <br>
            <strong>PVP:</strong> {{ recipe.get('pvp', 'Pendiente') }} <br>
            <strong>A Cargo del Afiliado:</strong> {{ recipe.get('a_cargo_afiliado', 'Pendiente') }} <br>
            <strong>A Cargo de la Obra Social:</strong> {{ recipe.get('a_cargo_obrasocial', 'Pendiente') }} <br>
            <strong>Observaciones:</strong> {{ recipe.get('observaciones', 'Pendiente') }} <br>
        </li>
        <br>
        {% endfor %}
    </ul>
</body>
</html>
